.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

body {
	background-color: aquamarine;
}

.bigBoard {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.keyboard {
	display: grid;
	grid-template-columns: 44px 20px 44px 20px 44px 44px 20px 44px 20px 44px 20px 44px;
	grid-template-rows: 100px 100px;
}
.wholeKey {
	border: 1px solid black;
	background-color: white;
	grid-row: 1/4;
	z-index: 1;
	text-align: center;
}
#C,
#E,
#F,
#B {
	width: 60px;
}
#D,
#G,
#A {
	width: 65px;
}
#D,
#E,
#G,
#A,
#B {
	position: relative;
	right: 5px;
}
.sharpkey {
	background-color: black;
	color: white;
	grid-row: 1/2;
	z-index: 100;
	text-align: center;
	position: relative;
	left: 5px;
}
#staff {
	width: 475px;
	background-color: rgb(255, 248, 192);
	padding: 2%;
	height: 250px;
	margin: 10%;
	border-right: solid 4px black;
	border-radius: 5px;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40px 40px 40px 40px 40px;
	overflow: auto;
}
.staff-line {
	border-bottom: solid 1px black;
	/* margin-top: 6%; */
}
.stafficon {
	width: 50px;
	height: 50px;
}
/* .staffNote{
	position: absolute;
} */
.newPiano {
	display: flex;
	flex-direction: column;
}
.icon {
	width: 50px;
	height: 50px;
	z-index: 100;
	position: relative;
	top: 75%;
}
.sharpIcon {
	position: relative;
	top: -100%;
	width: 25px;
	height: 25px;
	border-top: 1px solid black;
}
.c,
.d,
.e,
.f,
.g,
.a,
.b {
	position: relative;
}
.c {
	left: 30px;
}
.d {
	left: 45px;
}
.e {
	left: -20px;
}
.f {
	left: -30px;
}
.g {
	left: -15px;
}
.a {
	left: 25px;
}

.slider {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 55%;
	height: 55%;
	border-radius: 10px;
}

.image:hover {
	width: 70%;
	height: 80%;
	border-radius: 10px;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}
