.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.bigBoard {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.keyboard {
	display: grid;
	grid-template-columns: 44px 20px 44px 20px 44px 44px 20px 44px 20px 44px 20px 44px;
	grid-template-rows: 100px 100px;
}
.wholeKey {
	border: 1px solid black;
	background-color: white;
	grid-row: 1/4;
	z-index: 1;
	text-align: center;
}
#C,
#E,
#F,
#B {
	width: 60px;
}
#D,
#G,
#A {
	width: 65px;
}
#D,
#E,
#G,
#A,
#B {
	position: relative;
	right: 5px;
}
.sharpkey {
	background-color: black;
	color: white;
	grid-row: 1/2;
	z-index: 100;
	text-align: center;
	position: relative;
	left: 5px;
}
#staff{
	width:475px;
	background-color: pink;
	height: 30vh;
	margin: 10%;
	border-right: solid 4px black;
	border-radius: 5px;
	margin: 10px auto;
}
.staff-line{
	height: 0px;
	width: 100%;
	border: solid 1px black;
	margin-top: 6%;
	border-radius: 5px;
}
.staffNote{
	position: absolute;
}
.newPiano{
	display: flex;
	flex-direction: column;
}
